---
interface Technology {
  name: string;
  icon?: string;
  color: string;
  textColor: string;
  url: string;
}

interface Project {
  title: string;
  description: string;
  image?: string;
  url?: string;
  technologies: Technology[];
}

interface Props {
  project: Project;
}

const { project } = Astro.props;
---

<article class='mb-8 group cursor-default'>
  {
    project && (
      <div class='flex flex-col md:flex-row items-start gap-8'>
        {project.image && (
          <div class='w-full md:w-1/3 overflow-hidden rounded-lg'>
            <img
              src={project.image}
              alt={project.title}
              class='w-full h-64 object-cover aspect-video transition duration-300 group-hover:scale-110'
            />
          </div>
        )}
        <div class='flex-1'>
          <div class='mb-4'>
            <h2 class='text-xl font-semibold mb-4'>{project.title}</h2>
            {project.url && (
              <a
                href={project.url}
                target='_blank'
                class='inline-flex items-center justify-center gap-2 px-4 py-1 text-white transition bg-[#24292e]/60 border border-[#24292e]/90 rounded-full text-md hover:bg-[#24292e]/90 hover:border-[#24292e] group max-w-fit focus:outline-none focus-visible:ring focus-visible:ring-[#24292e]/30 focus-visible:ring-offset-2 shadow-lg'
              >
                <div class='flex items-center gap-2 text-sm'>
                  <i class='fa-brands fa-github w-4 h-4' />
                  Ver proyecto
                </div>
              </a>
            )}
          </div>
          <p class='text-gray-400 mb-4 break-words'>{project.description}</p>
          <div class='flex flex-wrap items-center gap-2'>
            <p class='text-gray-400'>Tecnologías:</p>
            <div class='flex flex-wrap gap-2'>
              {project.technologies.map((technology) => (
                <a
                  href={technology.url}
                  target='_blank'
                  rel='noopener noreferrer'
                  style={`background-color: ${technology.color}; color: ${technology.textColor};`}
                  class='rounded-full opacity-90 px-2 py-1 text-xs hover:opacity-100 transition cursor-pointer hover:scale-105'
                >
                  {technology.name}
                </a>
              ))}
            </div>
          </div>
        </div>
      </div>
    )
  }
</article>
