---
interface TimelineItem {
  title: string;
  description: string;
  company: string;
  date: string;
  current?: boolean;
  technologies?: {
    name: string;
    color: string;
    textColor: string;
  }[];
}

interface Props {
  items: TimelineItem[];
}

const { items } = Astro.props;
---

<div class='relative flex'>
  <div class='absolute left-3 w-auto h-full bg-[#443b40] top-0'></div>

  <div class='relative ml-8'>
    {
      items.map((item) => (
        <div class='mb-12 relative'>
          <span class='absolute -left-7 top-[8px] h-4 w-4 rounded-full bg-[#FFF9B0] shadow-lg' />
          <div class='ml-8'>
            <h3 class='text-[#FFF9B0] text-xl font-semibold'>{item.title}</h3>
            <h4 class='text-lg text-white'>{item.company}</h4>
            <span class='text-gray-400'>
              {item.current ? 'Actualmente...' : item.date}
            </span>
          </div>
          <article class='prose prose-base text-white text-md md:text-lg ml-8 mt-4'>
            <p class='leading-relaxed'>{item.description}</p>
          </article>
          <div class='mt-4 ml-8 flex flex-wrap gap-2'>
            {item.technologies?.map((tech) => (
              <span
                class='inline-flex items-center justify-center px-3 py-1 rounded-full text-sm font-medium'
                style={`background-color: ${tech.color}; color: ${tech.textColor};`}
              >
                {tech.name}
              </span>
            ))}
          </div>
        </div>
      ))
    }
  </div>
</div>
